:root {
  --colorTextPrimary: #626262;
  --colorTextSecondary: #7d7d7d;
  --colorTextTertiary: #b4ad9e;
  --colorTextHover: #03a9f4;
  /*Шрифти*/
  --fontTextPrimary: "Playfair Display", serif;
  --fontTextSecondary: "Ubuntu", sans-serif;
}
body {
  font-family: var(--fontTextPrimary);
  color: var(--colorTextPrimary);
  font-size: 14px;
  font-weight: 400;
}
.container {
  max-width: 936px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding-top: 67px;
  padding-bottom: 96px;
}
.header-menu {
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
}
.menu-list {
  display: flex;
  justify-content: space-between;
}

.menu-link {
  color: var(--colorTextSecondary);
}
.photocard-category {
  font-family: var(--fontTextSecondary);
  color: var(--colorTextTertiary);
  font-weight: 300;
}
.photocard-title {
  font-size: 30px;
  font-weight: 400;
}
.photoblog-button {
  font-family: inherit;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
}
