:root {
  --colorTextPrimary: #626262;
  --colorTextSecondary: #7d7d7d;
  --colorTextTertiary: #b4ad9e;
  --colorTextHover: #03a9f4;
  /*Шрифти*/
  --fontTextPrimary: "Playfair Display", serif;
  --fontTextSecondary: "Ubuntu", sans-serif;
}
body {
  font-family: var(--fontTextPrimary);
  color: var(--colorTextPrimary);
  font-size: 14px;
  font-weight: 400;
}
/* Прибираємо нижнє підкреслення в усіx посилань */
a {
  text-decoration: none;
}
/*Прибираємо крапки у списків*/
ul {
  list-style: none;
}

.menu-link {
  color: var(--colorTextSecondary);
}
.photocard-category {
  font-family: var(--fontTextSecondary);
  color: var(--colorTextTertiary);
  font-weight: 300;
}
.photocard-title {
  font-size: 30px;
  font-weight: 400;
}
.photoblog-button {
  font-family: inherit;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
}
